main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  width: 100%;
  padding: 100px 24px;
}

section h1,
section h2 {
  margin-top: 0;
}

@media (max-width: 768px) {
  section {
    padding: 72px 20px;
  }
}